In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

student=pd.read_csv('std_marks_data.csv')
print(student)

student.info()

student.isnull().sum()

student.fillna(student.mean(),inplace=True)
student.isnull().sum()


X = student.iloc[: , :-1]
print(X)

Y = student.iloc[: , -1]
print(Y)


from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X , Y)
print("Intercept : - " , model.intercept_)
print("Coefficient : - " , model.coef_)

     hours  age  internet  marks
0     6.84   15         0  78.64
1     6.56   20         1  88.80
2      NaN   21         1  88.90
3     8.67   22         1  98.99
4     7.55   17         1  92.34
..     ...  ...       ...    ...
295   2.99   25         0  43.45
296   6.55   15         1  77.74
297   0.00   20         1  75.76
298   9.90   22         0  99.99
299   3.40   21         0  99.99

[300 rows x 4 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   hours     288 non-null    float64
 1   age       300 non-null    int64
 2   internet  300 non-null    int64
 3   marks     300 non-null    float64
dtypes: float64(2), int64(2)
memory usage: 9.5 KB
        hours  age  internet
0    6.840000   15         0
1    6.560000   20         1
2    5.494514   21         1
3    8.670000   22         1
4    7.550000   17         1
..        ...  ...       ...
295  2.990000   25         0
296  6.550000   15         1
297  0.000000   20         1
298  9.900000   22         0
299  3.400000   21         0

[300 rows x 3 columns]
0      78.64
1      88.80
2      88.90
3      98.99
4      92.34
       ...
295    43.45
296    77.74
297    75.76
298    99.99
299    99.99
Name: marks, Length: 300, dtype: float64
Intercept : -  57.9450911613433
Coefficient : -  [1.25998261 0.32935904 3.11097722]